;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:lib-cjs
  {:target :node-library
   :output-to "dist/cjs/index.cjs"
   :exports {:translate transplate.interop/translate}}

  :lib-esm
  {:target :esm
   :output-dir "dist/esm"
   :modules {:index {:entries [transplate.interop]
                     :exports {translate transplate.interop/translate}}}}}}
